.button {
  display: inline-block;
  vertical-align: middle;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background-color: $scarlet;
  border: none;
  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
}

.button:hover {
  background-color: $orange;
}

.button--travel-europe {
  display: flex;
  align-items: center;
  width: 340px;
  padding: 30px 40px 30px 40px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    width: 250px;
    padding: 19px 40px 19px 40px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-max-width) {
    width: 288px;
  }
}

.button--travel-europe::after {
  content: "";
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  margin-left: 122px;

  background-image: url("../img/icon-arrow-right.svg");
  background-repeat: no-repeat;

  @media (max-width: $tablet-max-width) {
    margin-left: 51px;
  }

  @media (max-width: $mobile-max-width) {
    margin-left: 89px;
  }
}

.button--countries {
  width: 250px;
  padding: 30px 40px 30px 39px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    padding: 19px 50px 19px 52px;
  }

  @media (max-width: $mobile-max-width) {
    width: 288px;
  }
}


.button--prices {
  width: 310px;
  padding: 30px 68px 30px 69px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    width: 286px;
    padding: 19px 68px 19px 68px;
  }
}


.button--questions {
  width: 176px;
  padding: 18px 39px 17px 40px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    width: 250px;
    padding: 19px 84px 19px 84px;
  }

  @media (max-width: $mobile-max-width) {
    width: 288px;
    padding: 19px 103px 19px 103px;
  }
}

.button--modal-buy {
  width: 176px;
  padding: 19px 39px 17px 40px;
  box-sizing: border-box;
  margin-right: 47px;

  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;

  @media (max-width: $mobile-max-width) {
    width: 288px;
    padding: 19px 103px 19px 103px;

    font-size: 10px;
    line-height: 12px;
  }
}
