.contacts {
  width: 267px;

  @media (max-width: $tablet-max-width) {
    width: 258px;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 50px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding-bottom: 25px;
    padding-left: 0;

    text-align: center;

    border-bottom: 1px solid $grey;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 27px;

  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $darkest;
}

.contacts__link:not(:last-child) {
  margin-bottom: 20px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 23px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 22px;
  }
}

.contacts__link--email {
  display: flex;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  color: $scarlet;

  @media (max-width: $mobile-max-width) {
    justify-content: center;
  }

  @media (max-width: $mobile-max-width) {
    margin-right: -15px;
  }
}

.contacts__link--email::before {
  content: "";
  width: 26px;
  height: 20px;
  margin-right: 5%;
  margin-top: -2px;

  background-image: url("../img/icon-email-footer.svg");
  background-repeat: no-repeat;
}


.contacts__link--phone {
  display: flex;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration: underline;
  color: $scarlet;

  @media (max-width: $mobile-max-width) {
    justify-content: center;
  }
}

.contacts__link--phone::before {
  content: "";

  width: 30px;
  height: 30px;
  margin-right: 3.7%;
  margin-top: -2px;
  background-image: url("../img/icon-tel-footer.svg");
  background-repeat: no-repeat;

  @media (max-width: $tablet-max-width) {
    margin-right: 10px;
  }
}


.contacts__link:hover {
  color: $darkest;
}
