.corporate-travelers {
  padding-left: 4.7%;

  border-left: 1px solid $grey;

  @media (max-width: $tablet-max-width) {
    padding-top: 29px;
    padding-left: 0;
    padding-right: 3px;

    text-align: center;

    border-top: 1px solid $grey;
    border-left: none;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0;

    border-top: none;
  }
}

.corporate-travelers__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $darkest;
}

.corporate-travelers__description {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba($darkest, 0.5);
}
