//Навигация список
.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 196px;
  margin-right: 70px;
  margin-top: -3px;


  @media (max-width: $tablet-max-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;

    flex-direction: column;
    justify-content: start;
    width: 320px;
    min-height: 568px;
    margin-right: 0;
    margin-top: 0;
    padding-top: 134px;

    background-color: $white;
    box-shadow: 0 4px 30px rgba($black-shadow, 0.1);
  }
}

.main-navigation--closed .main-navigation__list {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.main-navigation--nojs .main-navigation__list {
  @media (max-width: $tablet-max-width) {
    display: block;
  }
}

//элементы навигации
.main-navigation__item {
  @media (max-width: $tablet-max-width) {
    width: 320px;
    padding: 17px 35px 17px 16px;
    box-sizing: border-box;

    background-color: $white-dark;
  }
}

.main-navigation__item:not(:last-child) {
  @media (max-width: $tablet-max-width) {
    margin-bottom: 30px;
  }
}

.main-navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $darkest;

  @media (max-width: $tablet-max-width) {
    position: relative;

    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: $black-light;
  }
}

.main-navigation__link:hover {
  color: $scarlet;
}

.main-navigation__link::after {
  @media (max-width: $tablet-max-width) {
    position: absolute;
    top: 0;
    left: 262px;
    content: "";

    width: 25px;
    height: 25px;

    background-image: url("../img/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
//кнопки

.main-navigation__toggle {
  display: none;

  @media (max-width: $tablet-max-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;

    display: block;
    width: 72px;
    height: 52px;

    cursor: pointer;
    border: none;
  }

  @media (max-width: $mobile-max-width) {
    width: 50px;
    height: 50px;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  @media (max-width: $tablet-max-width) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 72px;
    height: 52px;

    background-color: $scarlet;
    background-image: url("../img/icon-open.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: $mobile-max-width) {
    width: 50px;
    height: 50px;
  }
}

.main-navigation--opened .main-navigation__toggle::after {
  @media (max-width: $tablet-max-width) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 72px;
    height: 52px;

    background-color: $white;
    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  @media (max-width: $mobile-max-width) {
    width: 50px;
    height: 50px;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.main-navigation__toggle:hover {
  opacity: 0.5;
}
