.modal-success {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: rgba($black, 0.5);
}

.modal-success__show-overlay {
  display: block;
}

.modal-success__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;

  width: 728px;
  margin: 0 auto;
  padding: 176px 164px;
  box-sizing: border-box;

  text-align: center;

  background: $white-dark;
  box-shadow: 0 4px 30px rgba($black-shadow, 0.1);

  @media (max-width: $mobile-max-width) {
    width: 288px;
    margin: 0 auto;
    padding: 150px 20px;
  }
}

.modal-success__message {
  font-weight: 500;
  font-size: 25px;
  line-height: 170%;
}

.modal-success__close {
  position: absolute;
  right: 20px;
  top: 20px;

  width: 22px;
  height: 22px;

  background-color: transparent;
  background-image: url("../img/icon-close-cross.svg");
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.modal-success__close:hover {
  transform: scale(1.2);
}
