.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding: 36px 27px 32px 27px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    position: relative;

    width: 100%;
    max-width: 100%;
    padding: 17px 0 12px 0;
  }

  @media (max-width: $mobile-max-width) {
    padding: 18px 0 11px 0;
  }
}

.page-header__wrapper-navigation-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo-link {
  @media (max-width: $tablet-max-width) {
    margin-left: 21px;
  }

  @media (max-width: $mobile-max-width) {
    margin-left: 16px;
  }
}

.page-header__logo-link img {
  width: 57px;
  height: 22px;

  @media (max-width: $tablet-max-width) {
    width: 44px;
    height: 17px;
  }
}

//Ссылка-телефон
.page-header__phone-link {
  display: flex;
  align-items: center;
  width: 230px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header__phone-link svg {
  width: 30px;
  height: 30px;
  margin-right: 9px;

  fill: none;
  stroke: $darkest;
}

.page-header__phone-link:hover svg {
  stroke: $scarlet;
}

.page-header__phone-link span {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $darkest;
  text-decoration: underline;
}

.page-header__phone-link:hover span {
  color: $scarlet;
}

.page-header__overlay {
  @media (max-width: $tablet-max-width) {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;

    background-color: rgba($black, 0.5);
  }
}

.page-header__overlay--show {
  @media (max-width: $tablet-max-width) {
    display: block;
  }
}
