.page-main__wrapper-countries-prices {
  width: 100%;
  margin: 0 auto;

  background-image: url("../img/map-desktop.png");
  background-repeat: no-repeat;
  background-position: center 120px;
  background-size: 75% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-desktop@2x.png");
  }

  @media (max-width: $tablet-max-width) {
    width: 100%;
    margin: 0;
    background-image: none;

    @media (min-resolution: 2dppx) {
      background-image: none;
    }
  }
}

.page-main__input-error {
  box-shadow: 0 0 2px 2px $red;
}
