.page-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60.4%;
  margin: 0 auto;
  padding: 74px 37px 74px 28px;

  @media (max-width: $tablet-max-width) {
    justify-content: start;
    width: 94.5%;
    padding: 54px 21px 54px 21px;
  }

  @media (max-width: $mobile-max-width) {
    width: 90%;
    padding: 0 16px 26px 16px;
  }
}

.page-footer__next-trips {
  width: 33.4%;

  @media (max-width: $tablet-max-width) {
    width: 54%;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.page-footer__contacts {
  width: 34.3%;

  @media (max-width: $tablet-max-width) {
    width: 39%;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.page-footer__corporate-travelers {
  width: 27.5%;

  @media (max-width: $tablet-max-width) {
    width: 100%;
  }
}
