.questions {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 86px;
  padding: 0 27px;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    margin-bottom: 26px;
    padding: 0;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 60px;
  }
}

.questions-wrapper {
  padding: 70px 0;

  background-image: url("../img/questions-image-desktop.jpg");
  background-repeat: no-repeat;
  background-position: start center;
  background-size: 72% 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/questions-image-desktop@2x.jpg");
    background-size: 72% auto;
  }

  @media (max-width: $tablet-max-width) {
    width: 100%;
    padding: 70px 0 74px 0;

    background-image: url("../img/questions-image-tablet.jpg");
    background-size: 100% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/questions-image-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-max-width) {
    padding: 0;
    background-image: none;
  }
}

.questions__wrapper-form {
  width: 656px;
  padding: 50px 49px 49px 50px;
  margin-left: 44%;
  box-sizing: border-box;

  text-align: center;

  background-color: $white;
  box-shadow: 0 4px 30px rgba($black-shadow, 0.1);
  border-radius: 5px;

  @media (max-width: $tablet-max-width) {
    margin: 0 auto;

    box-shadow: none;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 50px 16px;

    background-color: $white-dark;
  }
}

.questions__title {
  margin: 0;
  margin-bottom: 13px;

  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: $darkest;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 12px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 21px;
  }
}

.questions__text {
  margin: 0;
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $darkest;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 19px;
  }
}

.questions__list {
  @include reset-style-list;

  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 21px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.questions__item {
  width: 269px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.questions__item:not(:last-child) {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
  }
}

.questions__input {
  width: 269px;
  padding: 16px 15px 15px 15px;
  box-sizing: border-box;

  font: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: $darkest;

  border: 1px solid rgba($dark, 0.3);

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.questions__input:hover {
  border: 1px solid rgba($orange, 0.3);
}

.questions__tel-wrapper {
  position: relative;
}

.questions__input--tel {
  font-size: 14px;
  padding: 16px 15px 15px 26px;
}

.questions__tel-wrapper::after {
  position: absolute;
  top: 7px;
  left: 14px;
  content: "";

  width: 6px;
  height: 27px;
  margin-right: 5px;

  background-image: url("../img/icon-star.svg");
  background-repeat: no-repeat;
  background-position: center;
}
