.travel-europe {
  width: 100vw;
  margin-bottom: -60px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: -63px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 80px;
  }
}

.travel-europe__image-block {
  width: 21%;
  margin: 0 auto;
  padding: 185px 23% 486px 56%;


  background-color: $blue-background;
  background-image: url("../img/travel-europe-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/travel-europe-desktop@2x.jpg");
  }

  @media (max-width: $tablet-max-width) {
    width: 52%;
    padding: 58px 23% 208px 24%;

    background-image: url("../img/travel-europe-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/travel-europe-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-max-width) {
    width: 92%;
    margin-bottom: 20px;
    padding: 81px 3% 81px 5%;

    text-align: center;

    background-image: url("../img/travel-europe-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/travel-europe-mobile@2x.jpg");
    }
  }
}

.travel-europe__title {
  width: 412px;
  margin: 0;
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: normal;
  color: $white;

  @media (max-width: $tablet-max-width) {
    width: 398px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 150%;
  }

  @media (max-width: $mobile-max-width) {
    width: 294px;
    margin: 0 auto;
    margin-bottom: 0;

    font-size: 24px;
    line-height: 150%;
  }
}

.travel-europe__text-block {
  margin-top: -486px;
  margin-bottom: 557px;
  padding-left: 56%;

  @media (max-width: $tablet-max-width) {
    width: 52%;
    margin-top: -224px;
    margin-bottom: 224px;
    padding: 0 24% 0 24%;

    text-align: center;
  }

  @media (max-width: $mobile-max-width) {
    width: 90%;
    margin: 0 auto;
    padding: 0 5% 0 5%;
  }
}

.travel-europe__description {
  width: 376px;
  margin: 0;
  margin-bottom: 33px;

  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: $white;
  letter-spacing: -0.466667px;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 18px;

    color: $dark;
  }
}
