// Colors
$scarlet: #fe7865;
$orange: #f17d4b;
$dark:#2c2e3f;
$darkest:#141517;
$blue-background:#679bd5;
$white: #ffffff;
$white-dark: #fbf8f8;
$grey:#d7d9df;
$black-shadow: #293642;
$black-light:#48494d;
$black: #000000;

// Viewports
$min-width: 320px;
$max-width: 1920px;
$mobile-max-width: 767px;
$tablet-max-width: 1223px;
